.cart-image-wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cart-image-wrap::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  z-index: 0;
  pointer-events: none;
}

.play-icons-box {
  width: 70px;
  height: 70px;
  background-color: #949494;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  /* background: rgba(160, 160, 160, 0.3); */
  backdrop-filter: blur(4px);
  transition: all 0.3s;
  animation: play-animation 2s infinite;
}

.play-icons-box:hover .play-icons-info {
  background-color: #949494;
}
.play-icons-box:hover {
  background: transparent !important;
  border: 17px solid #fff !important;
  border-radius: 100%;
}

.play-icons-info {
  cursor: pointer;
}

.play-icons-info {
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.3s;
}

@keyframes play-animation {
  0% {
    box-shadow: 0 0 0 0 #fdfdfd;
  }
  100% {
    box-shadow: 0 0 0 30px transparent;
  }
}
